@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #7b4bb7;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

html ::-webkit-scrollbar{
    width: 0.8rem;
}

html ::-webkit-scrollbar-track{
    background: var(--bg-color);
}

html ::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.ano-sem-cor{
    color: inherit; /* Herda a cor do elemento pai */
    /* Ou defina uma cor específica, como preto: */
    /* color: preta; */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    height: 105px;
    transition: 0.5s ease;
}

.logo2{
  height: 200px;
}

.logo-footer{
  margin: auto;
  justify-content: center;
  justify-items: center;
}

.logo.hover{
    transform: scale(1.1);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    columns: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

@media (max-width:995px) {
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-right-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover,
    .navbar a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: var(--main-color);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img img{
    border-radius: 50%;
    position: relative;
    width: 30vw;
    height: 35vw;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
}

.Me{
    animation: Me 2.5s infinite;
}

@keyframes Me {
    50% {
        transform: translateY(-6%);
    }
}

.Me2{
    animation: Me 2.5s infinite;
}

@keyframes Me2 {
    50% {
        transform: translateY(-6%);
    }
}

.home-img img:hover{
    transform: scale(1.01);
    filter: drop-shadow( 0 0 25px var(--main-color) );
}

.home-img2{
    transform: scale(1.01);
    filter: drop-shadow( 0 0 25px var(--main-color) );
}

.Me2{
    border-radius: 50px;
    margin-top: 20%;
}

.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: justify;
}

.home-content h1{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icon a:hover{
    color: white;
    transform: scale(1.3) translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.03);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: 'Software Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(1005 + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid var(--main-color);
    }
}

@keyframes words{
    0%, 20%{
        content: 'Desenvolvedor Web 👨‍💻';
    }
    21%, 40%{
        content: 'Desenvolvedor Software 👨‍💻';
    }
    41%, 60%{
        content: 'Estudante Eng.Computação ⚙';
    }
    61%, 80%{
        content: 'Universitário 👨‍🎓';
    }
    81%, 100%{
        content: 'Estudante 👨‍🎓';
    }
}

@keyframes typing{
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85%{
        width: calc(100% + 8px);
    }
}

@media (max-width: 989px) {
    .home {
        gap: 4rem;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .home-img img {
        width: 70vw;
        height: auto;
        margin-top: 2rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column-reverse;
        margin: 5rem 4rem;
        text-align: center;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        height: auto;
        margin-top: 4rem;
    }
}

/* services section */

.services{
    background: var(--second-bg-color);
}

.heading{
    text-align: center;
    padding-bottom: 7rem;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 3rem;
    font-size: 45px;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.service-box:hover {
    background: transparent;
    color: var(--main-color);
    transform: scale(1.03);
    border: 1px solid var(--main-color);
}

.service-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
}

.service-info h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.service-info p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
    text-align: justify;
}

@media (max-width: 991px) {
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
}

@media (max-width: 895px) {
    .services h2 {
        margin-bottom: 3rem;
    }
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Hobbys*/

.Hobbys{
    background: var(--second-bg-color);
}

.Hobbys .container{
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.Hobbys .container .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.Hobbys .container .bar{
    margin-bottom: 15px;
    border-radius: 1rem;
    background: var(--bg-color);
    box-shadow: 0 4px 10px var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.Hobbys .container .bar:hover {
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}

.Hobbys .container .bar .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 20px;
}

.Hobbys .container .bar .info .span{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.img-hobbys{
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

@media screen and (max-width: 1500px) {
    .Hobbys .container {
        margin: 0;
        padding: 0;
    }

    .Hobbys .container .row {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }

    .Hobbys .container {
        margin-top: 5px;
        width: 100%;
    }
}

/*Habilidades*/

.Skills{
    background: var(--bg-color);
}

.Skills .container{
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

.Skills .container .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.Skills .container .bar{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    box-shadow: 0 4px 10px var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.Skills .container .bar:hover {
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}

.Skills .container .bar .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 20px;
}

.Skills .container .bar .info .span{
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.img-Skills{
    width: 100px;
}

@media screen and (max-width: 600px) {
    .Skills .container {
        margin: 0;
        padding: 0;
    }

    .Skills .container .row {
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }

    .Skills .container {
        margin-top: 5px;
        width: 100%;
    }
}

.education{
    background: var(--second-bg-color);
}

.education .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.education .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: rgb(90, 64, 64);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}

.education .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.education .container::after {
    content: '\f501';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: rgb(252, 252, 252);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    color: rgb(90, 64, 64);
}

.education .left {
    left: 0;
}

.education .right {
    left: 50%;
}

.education .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.education .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
}

.education .right::after {
    left: -16px;
}

.education .content {
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
}

.education .content .tag {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.education .content .tag {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.education .content .docs {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

.education .content .docs h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.education .content .docs p {
    font-size: 1.3rem;
    font-weight: 500;
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .education .timeline {
        margin-top: 2rem;
    }
    .education .timeline::after {
        left: 31px;
    }
    .education .container {
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }
    .education .container::after {
        font-size: 2.2rem;
    }
    .education .container::before {
        left: 61px;
        border: medium solid var(--main-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;
    }
    
    .education .left::after {
        left: 15px;
    }
    
    .education .right::after {
        left: 15px;
    }
    
    .education .right {
        left: 0%;
    }
}

.container-curriculo {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    margin: auto;
  }

  .container-curriculo .left_Side {
    position: relative;
    background: #003147;
    padding: 40px;
  }

  .profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }

  .profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
  }

  .profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
  }

  .link-cor{
    color: blue;
  }

  .contactInfo {
    padding-top: 40px;
    font-size: 15px;
  }

  .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .contactInfo ul {
    position: relative;
  }

  .contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 18px 0;
    cursor: pointer;
  }

  .contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
  }

  .contactInfo ul li span {
    color: #fff;
    font-weight: 300;
  }

  .contactInfo.education-curriculo li {
    margin-bottom: 15px;
  }

  .contactInfo.education-curriculo h5 {
    color: #03a9f4;
    font-weight: 500;
  }

  .contactInfo.education-curriculo h4 {
    color: #fff;
    font-weight: 500;
  }

  .contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #f00;
    display: block; /*O elemento se estende por toda a largura do contêiner pai, independentemente do conteúdo interno.*/
    margin-top: 5px;
  }

  .contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
  }

  .container-curriculo .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
  }

  .about {
    margin-bottom: 50px;
    font-size: 15px;
  }

  .about:last-child {
    margin-bottom: 0;
  }

  .title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .curriculo-text {
    color: #333;
    text-align: justify;
  }

  .about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
  }

  .about .box .year_company {
    min-width: 150px;
  }

  .about .box .year_company {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
  }

  .about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
  }

  .skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
  }

  .skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
  }

  .skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
  }

  .skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
  }

  .interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
  }

  @media (max-width: 1000px) {
    .container {
      margin: 10px;
      grid-template-columns: repeat(1, 1fr);
    }

    .interest ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .about .box {
      flex-direction: column;
    }

    .about .box .year_company {
      margin-bottom: 5px;
    }

    .interest ul {
      grid-template-columns: repeat(1, 1fr);
    }

    .skills .box {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .baixar {
    background-color: var(--main-color);
    padding: 1rem;
    text-align: center;
    margin-top: 20px;
    width: 48%;
    border-radius: 20px;
    box-shadow: 0 0 25px;
    margin-bottom: 100px;
    margin: auto;
    margin-top: 50px;
  }

  .baixar a {
    display: inline-block;
    background-color:var(--main-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 20px;
  }

  .baixar a:hover {
    background-color: var(--main-color);
    color: white;
  }

  /*Contato*/

.contact h2 {
    margin-bottom: 3rem;
    color: white;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    font-size: 15px;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*permite que os itens dentro de um container flexível (como .input-box) quebrem para a linha seguinte caso não caibam na mesma linha.*/
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}

form {
  width: 100%;
  max-width: 30rem;
}

label,
input,
textarea,
button {
  display: block;
}

input,
textarea,
button {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

input,
textarea {
  margin-bottom: 1rem;
  color: white;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  background: var(--second-bg-color);
  border: 2px solid var(--main-color);
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.3125rem #26344a;
}

label {
  margin-bottom: 0.5rem;
  color: #84868f;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button {
  border: none;
  border-radius: 99px;
  color: white;
  margin-top: 20px;
  background: var(--main-color);
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
button:focus {
  outline: none;
  background: var(--main-color);
}

button:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}


/*Ondas*/
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }
  
  .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: rgb(249, 249, 249);
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
  
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  /* /* Shrinking for mobile */
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  
    .content {
      height: 30vh;
    }
  
    h1 {
      font-size: 24px;
    }
  }

/* RODAPÉ */
 .footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
 }

 .footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: black;
 }

 .footer .social a {
    font-size: 25px;
    color: black;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    transition: 0.3s ease;
    text-align: center;
 }

 .footer .social a:hover{
    transform: scale(1.2)translateY(-5px);
    background: black;
    color: var(--main-color);
 }

 .footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
 }

 .footer ul li a{
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
 }

 .footer ul li a:hover{
    border-bottom: 3px solid black;
 }

 .footer ul li {
    display: inline-block;
    margin: 0 15px;
 }

 .footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: black;
 }

 @media (min-width: 1285px) {
    html {
      font-size: 55%;
    }
  
    .services-container {
      margin-bottom: 7rem;
      grid-template-columns: repeat(3, 1fr);
      padding: 0 5rem;
    }
  }
  @media (max-width: 991px) {
    .header {
      padding: 2rem 3%;
    }
  
    section {
      padding: 10rem 3% 2rem;
    }
  
    .services {
      padding-bottom: 7rem;
    }
  
    .footer {
      padding: 2rem 3%;
    }
  }

  /* Estilo do Menu Mobile */
.menu-mobile {
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%; /* Esconde o menu fora da tela */
  z-index: 99999;
  width: 70%;
  transition: right 0.3s ease;
}

.menu-mobile.active {
  right: 0; /* Mostra o menu */
}

.menu-mobile .btn-fechar {
  padding: 20px 5%;
  text-align: right;
}

.menu-mobile .btn-fechar i {
  color: var(--main-color);
  font-size: 30px;
  cursor: pointer;
}

.menu-mobile nav ul {
  text-align: right;
  list-style: none;
  padding: 0;
}

.menu-mobile nav ul li a {
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 10px 5%;
}

/* Estilo do Menu Mobile */
.menu-mobile {
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%; /* Esconde o menu fora da tela */
  z-index: 99999;
  width: 70%;
  transition: right 0.3s ease; /* Animação suave */
}

.menu-mobile.active {
  right: 0; /* Mostra o menu */
}

/* Responsivo */
@media (max-width: 768px) {
  #menu-icon {
      display: block; /* Mostra o ícone em telas menores */
  }

  .navbar {
      display: none; /* Esconde o menu normal em telas menores */
  }

  .menu-mobile {
      display: block; /* Garante que o menu mobile seja mostrado em telas menores */
  }
}

@media (min-width: 769px) {
  .menu-mobile {
      display: none; /* Esconde o menu mobile em telas maiores */
  }

  .navbar {
      display: flex; /* Mostra o menu normal em telas maiores */
  }
}

/* Animação */

/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animação de slide-up */
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Classes para ativar as animações */
.fade-in {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s; /* Ajuste o delay conforme necessário */
}

.slide-up {
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.5s; /* Ajuste o delay conforme necessário */
}

/* Esconde os elementos inicialmente */
.hidden {
  opacity: 0;
}

.custom-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  margin-top: 2%;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  /* Transição suave */
}

.custom-card:hover {
  transform: translateY(-10px);
  /* Efeito de elevação ao passar o mouse */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* Sombra mais intensa no hover */
  font-size: 15px;
}

.custom-card .card-body {
  color: white;
  /* Cor do texto */
  font-size: 15px;
}

.custom-card .card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.custom-card .card-text {
  font-size: 1.1rem;
  line-height: 1.5;
  flex-grow: 1;
  font-size: 15px;
}

.msv {
  margin-top: 15%;
}

@media (max-width: 767px) {
  .msv {
      margin-top: 35%;
  }
}

